*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Mono', monospace;
}

html,body{
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
}

header img{
    flex-direction: column;
}